@{
	ViewData["Title"] = "Home Page";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	span {
		font-size: 15px;
	}

	.box {
		margin-left: 200px;
		padding: 60px 0px;
	}

	.box-part {
		background: #FFF;
		border-radius: 0;
		padding: 60px 10px;
		margin: 30px 0px;
	}

	.text {
		margin: 20px 0px;
	}

	.box-part i {
		color: #4183D7;

	}

	
	 .contenedor {
        text-align: center;
        max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contenedor p:first-child {
        font-size: 24px; /* Tamaño de fuente más grande para el primer párrafo */
        font-weight: bold; /* Texto en negrita */
        color: #333; /* Color del texto */
    }

    .contenedor p {
        font-size: 18px; /* Tamaño de fuente más pequeño para los párrafos restantes */
        line-height: 1.5; /* Espaciado entre líneas */
        color: #666; /* Color del texto */
</style>


<div class="contenedor">
	<p>¡Bienvenido a Moda Lab CR!</p>
	<p>Consulte estados de pedidos, reportes, costos de producción y más.</p>
</div>

<div class="box">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

					<div class="title">
						<h4>Instagram</h4>
					</div>

					<div class="text">
						<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
							ocurreret qui ad.</span>
					</div>

					<a href="#">Learn More</a>

				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

					<div class="title">
						<h4>Twitter</h4>
					</div>

					<div class="text">
						<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
							ocurreret qui ad.</span>
					</div>

					<a href="#">Learn More</a>

				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					<i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

					<div class="title">
						<h4>Facebook</h4>
					</div>

					<div class="text">
						<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
							ocurreret qui ad.</span>
					</div>

					<a href="#">Learn More</a>

				</div>
			</div>






		</div>
	</div>
</div>
